@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Amatic+SC&family=Montserrat:wght@300;400;500&family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
}

:root {
  --PrimaryColor: #232429;
  --SecondaryColor: #c3c2c5;
  --SecondaryColor3: red;
  --SecondaryColor4: #fff;
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --HoverColor: hsl(225, 56%, 59%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
}

body {
  background-color: var(--PrimaryColor);
  color: var(--SecondaryColor4);
}

*::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.2rem;
}

*::-webkit-scrollbar-thumb {
  background: var(--SecondaryColor);
}

.wrapper {
  position: relative;
}

.navbar-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  color: var(--SecondaryColor);
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  z-index: 3;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.overlay.active {
  display: block;
}

.react-multiple-carousel__arrow {
  z-index: 1;
}

.navbar {
  padding-right: 20px;
}
.navbar .sideNav {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  background: var(--PrimaryColor);
  color: var(--SecondaryColor);
  transition: left 0.3s ease-in-out;
  z-index: 3;
}
.navbar .sideNav.open {
  left: 0;
}
.navbar .sideNav .logo-login {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
  color: var(--SecondaryColor);
}
.navbar .sideNav .logo-login .logo {
  font-size: 2rem;
  display: grid;
  place-content: center;
  padding: 0px 10px;
}
.navbar .sideNav .logo-login .login {
  font-size: 0.8rem;
}
.navbar .sideNav .logo-login:hover {
  color: var(--SecondaryColor3);
}
.navbar .sideNav ul {
  padding-top: 2rem;
  padding-left: 2rem;
}
.navbar .sideNav ul li {
  list-style: none;
  padding: 0.5rem;
}
.navbar .sideNav ul li a {
  font-size: 0.8rem;
  color: var(--SecondaryColor);
}
.navbar .sideNav ul li a:hover {
  color: var(--SecondaryColor3);
}
.navbar .sideNav ul li .premium {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--SecondaryColor4);
}

.navbar-top {
  position: fixed;
  width: 100%;
  background-color: var(--PrimaryColor);
  z-index: 2;
  padding-left: 30px;
}
.navbar-top .main-logo img {
  padding: 10px;
  width: 100px;
}
.navbar-top .search-section .search-bar {
  border-radius: 3rem;
  border: 2px solid var(--SecondaryColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 95%;
}
.navbar-top .search-section .search-bar .search-icon {
  font-size: 1.2rem;
  color: var(--SecondaryColor);
}
.navbar-top .search-section .search-bar .input-search-option {
  background-color: transparent;
  color: var(--SecondaryColor);
  border: none;
  font-size: 0.8rem;
  width: 100%;
  outline: none;
  padding-left: 10px;
}

.songsCollection {
  padding-top: 120px;
  max-width: 1200px;
  overflow: auto;
  color: var(--SecondaryColor);
  background-color: var(--PrimaryColor);
  cursor: pointer;
}
.songsCollection .MuiBox-root .css-1563k86-MuiTypography-root {
  min-width: 100px;
  font-size: 0.8rem;
}
.songsCollection .MuiButtonBase-root {
  background-color: var(--PrimaryColor);
  color: var(--SecondaryColor);
  margin-left: 0;
}
.songsCollection .MuiButtonBase-root .MuiTypography-root {
  text-transform: none;
  font-weight: unset;
  font-size: 0.8rem;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 0.8rem !important;
}

.MuiModal-root .MuiPaper-root {
  background-color: var(--PrimaryColor);
  color: var(--SecondaryColor);
}
.MuiModal-root .MuiPaper-root::before {
  content: none;
}

.largerCarousel {
  padding-left: 20px;
  padding-top: 10px;
}
.largerCarousel .large-slider-img {
  width: 240px;
}

.Testing.card {
  margin-top: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}
.Testing.card .product--image {
  width: 100%;
  height: 16em;
  -o-object-fit: cover;
     object-fit: cover;
}

.music-control-comp {
  background-color: var(--PrimaryColor);
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
.music-control-comp .mob-screen-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.music-control-comp .mob-screen-controls .song-name {
  display: flex;
  align-items: center;
}
.music-control-comp .mob-screen-controls .song-name .current-playing-song {
  width: 30px;
}
.music-control-comp .mob-screen-controls .song-name .song-name-lines {
  padding: 0px 20px;
}
.music-control-comp .mob-screen-controls .song-name .song-name-lines .song-name-1 {
  font-size: 0.7rem;
  font-weight: 600;
}
.music-control-comp .mob-screen-controls .song-name .song-name-lines .song-name-2 {
  font-size: 0.6rem;
  opacity: 0.5;
}
.music-control-comp .mob-screen-controls .song-controls-play {
  display: flex;
  width: 80px;
  justify-content: space-around;
}
.music-control-comp .mob-screen-controls .song-controls-play .icons-control .playing-icon {
  color: red;
  font-size: 1.5rem;
}
.music-control-comp .mob-screen-controls .song-controls-play .icons-control .next-songs-icon {
  font-size: 1.5rem;
}
.music-control-comp .large-screen-controls {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.music-control-comp .large-screen-controls .song-playing-area1 .song-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.music-control-comp .large-screen-controls .song-playing-area1 .song-cover .current-playing-song {
  width: 30px;
}
.music-control-comp .large-screen-controls .song-playing-area1 .song-cover .song-name {
  padding: 0px 10px;
  font-size: 1rem;
  font-weight: 700;
}
.music-control-comp .large-screen-controls .song-playing-area1 .song-cover .song-details {
  padding: 0px 10px;
  font-size: 0.8rem;
  opacity: 0.5;
}
.music-control-comp .large-screen-controls .song-playing-area1 .song-cover .heart-empty {
  font-size: 1.3rem;
  margin-left: 15px;
}
.music-control-comp .large-screen-controls .song-playing-area1 .song-cover .heart-filled {
  margin-left: 15px;
  font-size: 1.3rem;
  color: red;
}
.music-control-comp .large-screen-controls .song-playing-area1 .song-cover .options {
  margin-left: 15px;
  font-size: 1rem;
}
.music-control-comp .large-screen-controls .song-playing-area2 {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.music-control-comp .large-screen-controls .song-playing-area2 .song-duration-track {
  border: 1px solid var(--SecondaryColor);
  padding: 5px 15px;
  color: var(--SecondaryColor);
  border-radius: 25px;
  font-size: 0.8rem;
}
.music-control-comp .large-screen-controls .song-playing-area2 .song-changing-btns {
  display: flex;
}
.music-control-comp .large-screen-controls .song-playing-area2 .song-changing-btns .controls-icon1 {
  font-size: 1.5rem;
}
.music-control-comp .large-screen-controls .song-playing-area2 .song-changing-btns .controls-icon3 {
  font-size: 1.5rem;
  color: red;
}
.music-control-comp .large-screen-controls .song-playing-area2 .song-changing-btns .controls-icon4, .music-control-comp .large-screen-controls .song-playing-area2 .song-changing-btns .controls-icon2 {
  font-size: 2.2rem;
}
.music-control-comp .large-screen-controls .song-playing-area2 .song-changing-btns .controls-icon5 {
  font-size: 1rem;
}
.music-control-comp .large-screen-controls .song-playing-area3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}
.music-control-comp .large-screen-controls .song-playing-area3 .volume-button {
  display: flex;
}
.music-control-comp .large-screen-controls .song-playing-area3 .volume-button .volume-btn {
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}
.music-control-comp .large-screen-controls .song-playing-area3 .audio-type {
  border: 1px solid red;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}
.music-control-comp .large-screen-controls .song-playing-area3 .song-details {
  font-size: 1.2rem;
}

.toggler {
  /* Rounded sliders */
}
.toggler .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 40px;
}
.toggler .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggler .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555; /* Dark gray background */
  transition: 0.4s;
}
.toggler .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff; /* Light color for the circle */
  transition: 0.4s;
}
.toggler input:checked + .slider {
  background-color: #ccc;
}
.toggler input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}
.toggler input:checked + .slider:before {
  transform: translateX(26px);
}
.toggler .slider.round {
  border-radius: 34px;
}
.toggler .slider.round:before {
  border-radius: 50%;
}

@media screen and (min-width: 360px) {
  .largerCarousel {
    padding-left: 20px;
    padding-top: 10px;
  }
  .largerCarousel .large-slider-img {
    width: 350px;
  }
}
@media screen and (min-width: 480px) {
  .largerCarousel {
    padding-left: 20px;
    padding-top: 10px;
  }
  .largerCarousel .large-slider-img {
    width: 240px;
  }
}
@media screen and (min-width: 600px) {
  .navbar {
    padding-right: 20px;
  }
  .navbar .sideNav {
    top: 0;
    left: -80%;
    width: 80%;
  }
  .navbar .sideNav.open {
    left: 0;
  }
  .navbar .sideNav .logo-login {
    padding-top: 10px;
  }
  .navbar .sideNav .logo-login .logo {
    font-size: 2rem;
  }
  .navbar .sideNav .logo-login .login {
    font-size: 0.9rem;
  }
  .navbar .sideNav ul {
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .navbar .sideNav ul li {
    padding: 0.5rem;
  }
  .navbar .sideNav ul li a {
    font-size: 0.9rem;
  }
  .navbar .sideNav ul li .premium {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .navbar-top .search-section .search-bar .input-search-option {
    font-size: 1rem;
  }
  .largerCarousel {
    padding-left: 20px;
    padding-top: 10px;
  }
  .largerCarousel .large-slider-img {
    width: 320px;
  }
  .songsCollection .MuiBox-root .css-1563k86-MuiTypography-root {
    min-width: 130px;
    font-size: 0.9rem;
  }
  .songsCollection .MuiButtonBase-root .MuiTypography-root {
    font-size: 0.9rem;
  }
  .css-ahj2mt-MuiTypography-root {
    font-size: 0.9rem !important;
  }
  .MuiModal-root .MuiPaper-root {
    background-color: var(--PrimaryColor);
    color: var(--SecondaryColor);
  }
  .MuiModal-root .MuiPaper-root::before {
    content: none;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding-right: 20px;
  }
  .navbar .sideNav {
    top: 0;
    left: -80%;
    width: 80%;
  }
  .navbar .sideNav.open {
    left: 0;
  }
  .navbar .sideNav .logo-login {
    padding-top: 10px;
  }
  .navbar .sideNav .logo-login .logo {
    font-size: 2rem;
  }
  .navbar .sideNav .logo-login .login {
    font-size: 0.9rem;
  }
  .navbar .sideNav ul {
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .navbar .sideNav ul li {
    padding: 0.5rem;
  }
  .navbar .sideNav ul li a {
    font-size: 0.9rem;
  }
  .navbar .sideNav ul li .premium {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .navbar-top .search-section .search-bar .input-search-option {
    font-size: 0.92rem;
  }
  .largerCarousel {
    padding-left: 20px;
    padding-top: 10px;
  }
  .largerCarousel .large-slider-img {
    width: 380px;
  }
}
@media screen and (min-width: 960px) {
  .largerCarousel {
    padding-left: 20px;
    padding-top: 10px;
  }
  .largerCarousel .large-slider-img {
    width: 420px;
  }
}
@media screen and (min-width: 1024px) {
  .largerCarousel {
    padding-left: 10px;
    padding-top: 10px;
  }
  .largerCarousel .large-slider-img {
    width: 490px;
  }
}/*# sourceMappingURL=main.css.map */